extends layout

block header
    script(src='/javascripts/style.js')

block stylesheet
    link(rel="stylesheet", href="/stylesheets/style.css")

block content
    nav.navbar.navbar-fixed-top#navbar(
            data--50-top="background-color:transparent;"
            data-top-bottom="background-color:black;"
            data-anchor-target="#navbar")
        div.container-fluid
            div.navbar-header
                a.navbar-brand.page-scroll(href="#"
                        data--50-top="color:black;"
                        data-top-bottom="color:white;"
                        data-anchor-target="#navbar") hitch
                button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            div.collapse.navbar-collapse#basic_nav
                ul.nav.navbar-nav.navbar-right
                    li: a(href="login"
                            data--50-top="color:black;"
                            data-top-bottom="color:white;"
                            data-anchor-target="#navbar") LOGIN                    
                    li: a(href="signup"
                            data--50-top="color:black;"
                            data-top-bottom="color:white;"
                            data-anchor-target="#navbar") SIGN UP

    section.main#main
        div.container
            div.wrapper
                div.title
                    h1 hitch
                div.description
                    h3 Making ridesharing easier than ever.
                div.button
                    a(href='http://google.com')
                        button HITCH ME A RIDE

    section.about#about
        div.container
            div.wrapper
                h1 This is the about section

    section.test
        div.container
            div.wrapper
                h1 test
