extends layout

block header
    script(src='/javascripts/style.js')

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.main#main
        div.container(
                data-center="background-position: 50% 0px"
                data-top-bottom="background-position: 50% -100px"
                data-anchor-target="#main")
            div.wrapper#box(
                    data-top="opacity:1"
                    data-top-center="opacity:0"
                    data-anchor-target="#box")
                div.title
                    h1 hitch
                hr.sep
                div.subtitle
                    h3 hitch a ride to
                    span.typed
                div.button-wrapper
                    div.button
                        a(href="#request")
                            button HITCH ME A RIDE

    section.about#about
        div.container
            div.wrapper
                div.title
                    h3 MAKING RIDESHARE EASIER THAN EVER.
                hr.sep
                div.subtitle
                    h4 hitch finds people for you to share rides with, so you can travel with ease. it's fast, easy, and best of all, it saves you money.

    section.request#request
        div.container
            div.wrapper
                div.title
                    h2 Hello this is a street
                div.signup-wall
                    //- form.form-signin(action='/signup', method='POST')
                    form.form-signin
                        input.form-control(type='text', name='fullname', placeholder='Name', required, autofocus)
                        input.form-control(type='text', name='pickup', placeholder='Pickup From', required)
                        input.form-control(type='text', name='dropoff', placeholder='Dropoff', required)
                        input.form-control(type='time', name='time', placeholder='When?', required)
                        input.form-control(type='tel', name='phone', placeholder='Phone', required)
                        button(class='btn btn-lg btn-primary btn-block', type='submit') Request
