extends layout

block header
    script(src='/javascripts/style.js')

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.main#main
        div.container(
                data-center="background-position: 50% 0%"
                data-top-bottom="background-position: 50% 150%"
                data-anchor-target="#main")
            div.wrapper#box(
                    data-top="opacity:1"
                    data-top-center="opacity:0"
                    data-anchor-target="#box")
                div.title
                    h1 hitch
                div.subtitle
                    h3 hitch a ride to
                    span.typed
                div.button-wrapper
                    div.button
                        a(href="request")
                            button HITCH ME A RIDE                

    section.about#about
        div.container
            div.wrapper
                h3 Making ridesharing easier than ever.

    section.request#request
        div.container
            div.wrapper
                h3 Hello this is a street
