extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/results.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top#black
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/deleteRequest") new request
                        li: a(href="/settings") settings
                        li: a(href="/logout") logout

    if message && message.length
        p#alert.alert.alert-danger(role="alert") #{message}

    section.results#results
        div.container
            div.wrapper
                div.title
                    h2 Your results!
                hr.line
                    
                if matches.length
                    each match in matches
                        ul
                            li.result
                                p #{match.firstname} #{match.lastname}
                                p #{match.pickup}
                                p #{match.dropoff}
                                span.glyphicon.glyphicon-triangle-bottom
                                span.glyphicon.glyphicon-arrow-bottom
                                span.glyphicon.glyphicon-chevron-bottom
                                span.glyphicon.glyphicon-menu-bottom    
                                p #{match.time}
                                p #{match.phone}
                            hr.line
                else
                    h4 you don't have any results :(

        div.footer#footer
            div.footer-container
                h5
                    | wistful worldly wanderers 
                    img.icon(src="/images/3w.png")
                    |  2015

block scripts
