extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/results.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top#black
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/deleteRequest") new request
                        li: a(href="/settings") settings
                        li: a(href="/logout") logout
<<<<<<< HEAD
            div.status
                if message && message.length > 0
                    p#alert.alert-success #{message}
=======
>>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00

    section.results#results
        div.container
            div.wrapper
                div.title
                    h2 your hitchers
                hr.line
<<<<<<< HEAD
                
=======
>>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00
                if matches.length
                    ul
                        each match in matches
                            li
<<<<<<< HEAD
                                div.result#itinerary
                                    p #{match.time}
                                    p #{match.pickup}
                                    p to
                                    p #{match.dropoff}
                                div.result#info
                                    p #{match.firstname} #{match.lastname}
                                    p #{match.phone}
                            hr.sep
=======
                                div.result
                                    h4 #{match.time}
                                    div.row
                                        div.col-sm-2
                                            p from
                                        div.col-sm-10
                                            p(style="border-bottom:1px solid white") #{match.pickup}
                                    div.row
                                        div.col-sm-2
                                            p to
                                        div.col-sm-10
                                            p #{match.dropoff}
                                div.contact(hidden)
                                    h4 #{match.firstname} #{match.lastname}
                                    hr.line
                                    h4 #{match.phone}
>>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00
                else
                    h4 sorry, we can't find any other hitchers for you at the moment.
                    h4 please try again later.
                if message && message.length
                    div.status#alert
                        div.alert-success
                            p #{message}
            div.footer#footer
                div.footer-container
                    h5
                        | wistful worldly wanderers 
                        img.icon(src="/images/3w.png")
                        |  2015

block scripts
<<<<<<< HEAD
    script(src='/javascripts/results.js')
=======
    script(src="/javascripts/results.js")
>>>>>>> 1e6716d595a22c16fa635152d37d4dc8cd4f9f00
