extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/results.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top#black
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/deleteRequest") new request
                        li: a(href="/settings") settings
                        li: a(href="/logout") logout

    section.results#results
        div.container
            div.wrapper
                div.title
                    h2 your hitchers
                hr.line
                if matches.length
                    //- h5 the following requests are from other hitchers asking for rides on the same day as yours. hover over them to connect with other hitchers
                    ul
                        each match in matches
                            li.result
                                //- p #{match.firstname} #{match.lastname}
                                h4 #{match.time}
                                hr.sep
                                //- img.icon(src="/images/line.png")
                                p(style="border-left:2px solid rgba(61,184,73,1)") #{match.pickup}
                                p(style="border-left:2px solid rgba(221,60,40,1)") #{match.dropoff}
                                //- p #{match.phone}
                else
                    h4 you don't have any results :(
                if message && message.length
                    div.status#alert
                        div.alert-success
                            p #{message}

        div.footer#footer
            div.footer-container
                h5
                    | wistful worldly wanderers 
                    img.icon(src="/images/3w.png")
                    |  2015

block scripts
