extends layout

block header

block stylesheets
    link(rel="stylesheet", href="/stylesheets/results.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/#main") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="/logout") LOGOUT

    section.results#results
        div.container
            div.wrapper
                div.title
                    h3 Your hitchers!
                    hr.line
                div.result-wall
                    if results && results.length > 0  
                        ul   
                            each result in results
                                li: p.match #{result.firstname} #{result.lasname} #{result}
                    else
                        h4 no results


                if message && message.length > 0
                    p#alert.alert.alert-success(role='alert') #{message}