extends layout

block header
    script(src='/javascripts/style.js')
    script(src="build/js/intlTelInput.js")

block stylesheets
    link(rel="stylesheet", href="/stylesheets/signup.css")

block content
    nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.signup#signup
        div.container(
            data-bottom-top="background-position: 50% 100px"
            data--60-center="background-position: 50% 0px"
            data-anchor-target="#signup")

            //- got rid of #formbox, navbar and background image discrepancy fixed
            div.wrapper#formbox(
                data-bottom-top="opacity:0"
                data-bottom="opacity:1"
                data-anchor-target="#formbox")
                div.title
                    h3 Sign Up
                    hr.line
                div.signup-wall
                    form.basic-form(method='POST')
                        div.form-group
                            div.row
                                div.col-sm-6
                                    input#firstName.form-control(type="text", name="firstName", placeholder="First Name", required, autofocus)
                                div.col-sm-6
                                    input#lastName.form-control(type="text", name="lastName", placeholder="Last Name", required)
                            input#username.form-control(type='email', name='username', placeholder='Email', required)
                            input#password.form-control(type='password', name='password', placeholder='Password', required)
                            input#password2.form-control(type='password', name='password2', placeholder='Retype password', required)
                            input#phone.form-control(type='tel', name='phone', placeholder='Phone', required)
                            div.button-wrapper
                                button Submit

                    //- Server side validation error display
                    if message && message.length > 0
                        p#alert.alert.alert-danger(role='alert') #{message}

                    //- Client side validation error display
                    //- p.error 

    script(src='/javascripts/validation.js')