extends layout

block header
<<<<<<< HEAD
    script(src="/javascripts/signup.js")
=======
>>>>>>> 5f1d12e9dcf7b0dc20c40f605960614ee0a5a25e

block stylesheets
    link(rel="stylesheet", href="/stylesheets/signup.css")

block content
    //- nav.navbar#navbar
        div.navbar-fixed-top(
                data-start="@id:clear"
                data-0p="@id:collapsed"
                data-anchor-target="#navbar")
            div.container-fluid
                div.navbar-header
                    a.navbar-brand.page-scroll(href="/") hitch
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#basic_nav")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                div.collapse.navbar-collapse#basic_nav
                    ul.nav.navbar-nav.navbar-right
                        li: a(href="login") LOGIN
                        li: a(href="signup") SIGN UP

    section.signup#signup
        div.container(
            data-bottom-top="background-position: 50% 100px"
            data--60-center="background-position: 50% 0px"
            data-anchor-target="#signup")

            div.wrapper#formbox(
                data-bottom-top="opacity:0"
                data-bottom="opacity:1"
                data-anchor-target="#formbox")
                div.title
                    h3 Sign Up
                    hr.line
                div.signup-wall
<<<<<<< HEAD
                    form.basic-form(method="POST")
                        div.row
                            div.col-sm-6
                                input#firstname.form-control(type="text", name="firstName", placeholder="First Name", autofocus)
                            div.col-sm-6
                                input#lastname.form-control(type="text", name="lastName", placeholder="Last Name")
                        input#username.form-control(type="text", name="username", placeholder="Username")
                        input#password.form-control(type="password", name="password", placeholder="Password")
                        input#password2.form-control(type="password", name="password2", placeholder="Retype password")
                        input#phone.form-control(type="tel", name="phone", placeholder="Phone")
                        div.button-wrapper
                            button(type="submit") Submit
=======
                    form.basic-form(method='POST')
                        div.form-group
                            div.row
                                div.col-sm-6
                                    input#firstName.form-control(type="text", name="firstName", placeholder="First Name", required, autofocus)
                                div.col-sm-6
                                    input#lastName.form-control(type="text", name="lastName", placeholder="Last Name", required)
                            input#username.form-control(type='text', name='username', placeholder='Username', required)
                            input#password.form-control(type='password', name='password', placeholder='Password', required)
                            input#password2.form-control(type='password', name='password2', placeholder='Retype password', required)
                            input#phone.form-control(type='tel', name='phone', placeholder='Phone', required)
                            div.button-wrapper
                                button Submit
>>>>>>> 5f1d12e9dcf7b0dc20c40f605960614ee0a5a25e

                    if message && message.length > 0
<<<<<<< HEAD
                        p#alert.alert.alert-danger(role="alert") #{message}
                        //- div.form-group
                        //-     div.col-sm-10.col-sm-offset-2
                        //-         div.checkbox
                        //-             label
                        //-                 input(type="checkbox")
                        //-                 p Remember me
                        //- div.form-group
                        //-     div.col-sm-10.col-sm-offset-2
                        //-         button.btn.btn-default(type="submit") Submit
=======
                        p#alert.alert.alert-danger(role='alert') #{message}

    script(src="build/js/intlTelInput.js")
    script(src='/javascripts/phoneValidation.js')
    script(src='/javascripts/dateValidation.js')
    script(src='javascripts/passwordValidation.js')
    script(src='/javascripts/submitValidation.js')
>>>>>>> 5f1d12e9dcf7b0dc20c40f605960614ee0a5a25e
